.navbar {
  /* background-color: #bae6fd; */
  padding: 1.5rem 2rem;
  margin: 0 8rem;
  border-bottom: 2px solid white;
  position: absolute;
  width: 1200px;
  z-index: 100;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 2rem;
  height: 2rem;
  /* background-color: var(--main-color); */
  border-radius: 50%;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-icon img {
  width: 100%;
  height: 100%;
}
.logo-text {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--main-color);
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: #4b5563;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--main-color);
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.search-icon {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.627);
}
.search-icon-small {
  color: var(--main-color);
  font-size: 16px;
}
.search-button {
  color: var(--main-color);
  font-weight: bold;
  margin-right: 32px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-content {
    flex-wrap: wrap;
  }
  .navbar {
    width: 90%;
    margin: 0 auto;
  }
  .nav-links,
  .nav-actions {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .search-container {
    margin-top: 16px;
  }
  .nav-links.active,
  .nav-actions.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

.navanation {
  animation: navAnmation 0.5s ease-in-out;
}
@keyframes navAnmation {
  0% {
    opacity: 0.5;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
