.newsletter-container {
  position: relative;
  background-color: var(--main-color); /* Violet */
}

.svg-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.svg-full-width {
  width: 100%;
  margin-bottom: -6px;
  color: #ffffff; /* White */
}

.content-container {
  padding: 4rem 1rem;
  max-width: 1280px;
  margin: 0 auto;
}

.content-wrapper {
  position: relative;
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.heading-new {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff; /* White */
}

.description-new {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #d5d5d7; /* Light Indigo */
}

.form-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.input-email {
  flex-grow: 1;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  color: white; /* White */
  background-color: #eeedfa; /* Deep Purple */
  border: 2px solid transparent;
  border-radius: 0.25rem 0 0 0.25rem;
  appearance: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input-email:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--main-color);
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 3rem;
  padding: 0 1.5rem;
  font-weight: 600;
  color: #edf2f7; /* Light Gray */
  background-color: #5cc5fecc; /* Teal */
  border-radius: 0 0.25rem 0.25rem 0;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
}

.subscribe-button:hover {
  color: var(--main-color); /* Deep Purple */
  background-color: #27b3ff; /* Darker Teal */
}

.footer-text {
  margin-bottom: 2.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
  color: #a3bffa; /* Light Indigo */
}

.scroll-down {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 auto;
  color: #ffffff; /* White */
  border: 1px solid #cbd5e0; /* Gray */
  border-radius: 50%;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.scroll-down:hover {
  color: #5cc5fecc; /* Teal */
  border-color: #5cc5fecc; /* Teal */
  box-shadow: 0 0 10px rgba(56, 178, 172, 0.5);
  transform: scale(1.1);
}
