.faq-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}

.faq-container {
  max-width: 48rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faq-header {
  text-align: center;
}

.faq-subtitle {
  color: rgba(156, 163, 175, 1);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.faq-title {
  color: rgba(31, 41, 55, 1);
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
}

.faq-list {
  border: 1px solid rgba(229, 231, 235, 1);
  margin-top: 16px;
}

.faq-list ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.faq-item {
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.faq-item:hover {
  transform: scale(1.03);
  background-color: #edf5fc;
}

.faq-question-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.faq-icon {
  background-color: rgba(14, 165, 233, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 9999px;
}

.faq-question h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: rgba(31, 41, 55, 1);
}

.faq-answer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.25rem;
}

.faq-answer p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(107, 114, 128, 1);
}

.faq-question {
  background-color: rgba(225, 225, 225, 0.766);
  padding: 16px;
  margin: 0 16px;
  border-radius: 8px;
  width: 100%;
}

.faq-answer {
  background-color: rgba(159, 223, 255, 0.766);
  padding: 16px;
  margin: 0 16px;
  border-radius: 8px;
  width: 100%;
}
